**/target/
**/*.rs.bk
completions/
containers/

Dockerfile
.dockerignore
docker-compose.yml
docker
docs
ci

.git/
.github/
.gitignore

.envrc
.editorconfig
shell.nix

*.sw[op]

README.md
LICENSE
Makefile.toml
rustfmt.toml
justfile
